<footer>
  <hr class="mt-5" />
  <p class="text-center">
    <em>
      2024 &nbsp;&copy;&nbsp;&nbsp;
      <a
        href=""
        class="font-monospace text-dark text-decoration-none"
        target="_blank"
        rel="noopener noreferrer"
        >Employee Review System</a
      >
    </em>
  </p>
</footer>
